<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="a_r2">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import a_r2 urdf file -->
    <xacro:include filename="$(find a_r2_description)/urdf/a_r2.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="a_r2.ros2_control.xacro" />


    <xacro:a_r2_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
