<?xml version="1.0" ?>
<robot name="a_r2" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find a_r2_description)/urdf/materials.xacro" />
<xacro:include filename="$(find a_r2_description)/urdf/a_r2.trans" />
<link name="base_link">
  <inertial>
    <origin xyz="-0.3744284103017199 -1.7574137106272005 0.2019503593867328" rpy="0 0 0"/>
    <mass value="5.960481710804654"/>
    <inertia ixx="0.265693" iyy="0.237847" izz="0.034321" ixy="-0.000161" iyz="0.001802" ixz="-0.003536"/>
  </inertial>
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://a_r2_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="opaque202209238"/>
  </visual>
  <collision>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://a_r2_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="link1_1">
  <inertial>
    <origin xyz="0.015074218409720397 0.10311809894892843 -0.06832311086031623" rpy="0 0 0"/>
    <mass value="2.393549693306081"/>
    <inertia ixx="0.024938" iyy="0.014019" izz="0.011307" ixy="1.6e-05" iyz="9.5e-05" ixz="7e-06"/>
  </inertial>
  <visual>
    <origin xyz="0.351158 1.864523 -0.253205" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://a_r2_description/meshes/link1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="opaque202209238"/>
  </visual>
  <collision>
    <origin xyz="0.351158 1.864523 -0.253205" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://a_r2_description/meshes/link1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="link2_1">
  <inertial>
    <origin xyz="0.006692639036245174 0.005079864181537719 0.08411727748048892" rpy="0 0 0"/>
    <mass value="2.9811225398272745"/>
    <inertia ixx="0.103921" iyy="0.10257" izz="0.002847" ixy="-0.000153" iyz="-0.001244" ixz="-0.001328"/>
  </inertial>
  <visual>
    <origin xyz="0.322658 1.761961 -0.188201" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://a_r2_description/meshes/link2_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="opaque202209238"/>
  </visual>
  <collision>
    <origin xyz="0.322658 1.761961 -0.188201" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://a_r2_description/meshes/link2_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="link3_1">
  <inertial>
    <origin xyz="-0.03044708953587144 0.03471872560354616 0.07204933022051674" rpy="0 0 0"/>
    <mass value="1.1261936705374573"/>
    <inertia ixx="0.005205" iyy="0.00445" izz="0.001958" ixy="2.8e-05" iyz="-0.002195" ixz="6.6e-05"/>
  </inertial>
  <visual>
    <origin xyz="0.322658 1.752946 -0.628108" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://a_r2_description/meshes/link3_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="opaque202209238"/>
  </visual>
  <collision>
    <origin xyz="0.322658 1.752946 -0.628108" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://a_r2_description/meshes/link3_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="link4_1">
  <inertial>
    <origin xyz="0.04143914509452418 -0.020756739429556026 -0.14805766233861156" rpy="0 0 0"/>
    <mass value="3.577862597500207"/>
    <inertia ixx="0.282419" iyy="0.289931" izz="0.008652" ixy="-3.8e-05" iyz="-0.001052" ixz="-0.018138"/>
  </inertial>
  <visual>
    <origin xyz="0.302158 1.733621 -0.627994" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://a_r2_description/meshes/link4_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="opaque202209238"/>
  </visual>
  <collision>
    <origin xyz="0.302158 1.733621 -0.627994" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://a_r2_description/meshes/link4_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="link5_1">
  <inertial>
    <origin xyz="0.005000061798537847 -3.892921232040436e-07 2.425906654446308e-07" rpy="0 0 0"/>
    <mass value="0.007850000000000103"/>
    <inertia ixx="0.0" iyy="0.0" izz="0.0" ixy="0.0" iyz="0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.259358 1.753755 -0.758115" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://a_r2_description/meshes/link5_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="steel_satin"/>
  </visual>
  <collision>
    <origin xyz="0.259358 1.753755 -0.758115" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://a_r2_description/meshes/link5_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="link6_1">
  <inertial>
    <origin xyz="0.25011901634178396 0.007497362969561161 0.05854725918180348" rpy="0 0 0"/>
    <mass value="1.4233723866284878"/>
    <inertia ixx="0.003095" iyy="0.01141" izz="0.009048" ixy="-0.000188" iyz="-0.000124" ixz="-0.002739"/>
  </inertial>
  <visual>
    <origin xyz="0.249358 1.753755 -0.758115" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://a_r2_description/meshes/link6_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="opaque202209238"/>
  </visual>
  <collision>
    <origin xyz="0.249358 1.753755 -0.758115" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://a_r2_description/meshes/link6_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<joint name="Slider 1" type="prismatic">
  <origin xyz="-0.351158 -1.864523 0.253205" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="link1_1"/>
  <axis xyz="-0.0 0.014599 0.999893"/>
  <limit upper="0.22" lower="0.0" effort="100" velocity="100"/>
</joint>

<joint name="Revolute 2" type="continuous">
  <origin xyz="0.0285 0.102562 -0.065004" rpy="0 0 0"/>
  <parent link="link1_1"/>
  <child link="link2_1"/>
  <axis xyz="1.0 0.0 0.0"/>
</joint>

<joint name="Revolute 3" type="revolute">
  <origin xyz="0.0 0.009015 0.439907" rpy="0 0 0"/>
  <parent link="link2_1"/>
  <child link="link3_1"/>
  <axis xyz="1.0 0.0 0.0"/>
  <limit upper="1.570796" lower="0.0" effort="100" velocity="100"/>
</joint>

<joint name="Slider 4" type="prismatic">
  <origin xyz="0.0205 0.02834 0.439793" rpy="0 0 0"/>
  <parent link="link2_1"/>
  <child link="link4_1"/>
  <axis xyz="-0.0 0.005889 0.999983"/>
  <limit upper="0.0" lower="-0.6" effort="100" velocity="100"/>
</joint>

<joint name="Revolute 5" type="continuous">
  <origin xyz="0.0428 -0.020134 0.130121" rpy="0 0 0"/>
  <parent link="link4_1"/>
  <child link="link5_1"/>
  <axis xyz="1.0 0.0 0.0"/>
</joint>

<joint name="Slider 6" type="prismatic">
  <origin xyz="0.01 0.0 0.0" rpy="0 0 0"/>
  <parent link="link5_1"/>
  <child link="link6_1"/>
  <axis xyz="1.0 0.0 0.0"/>
  <limit upper="0.1" lower="-0.1" effort="100" velocity="100"/>
</joint>

</robot>
