<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="arm_v20(2).SLDASM">
  <link
    name="base_link">
    
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mizuki_arm_short/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mizuki_arm_short/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="2nd_Link">
    <inertial>
      <origin
        xyz="-0.000455989029182479 7.55986125734977E-05 0.0418690827014626"
        rpy="0 0 0" />
      <mass
        value="0.12533427208754" />
      <inertia
        ixx="4.82118907322452E-05"
        ixy="2.96613165389611E-13"
        ixz="1.61883588500157E-07"
        iyy="5.50460256171882E-05"
        iyz="-1.23148266639554E-13"
        izz="5.44258963228014E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mizuki_arm_short/meshes/2nd_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mizuki_arm_short/meshes/2nd_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="shoulder_pitch"
    type="revolute">
    <origin
      xyz="0 -0.0525 0"
      rpy="1.5708 1.5708 0" />
    <parent
      link="base_link" />
    <child
      link="2nd_Link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="3rd_Link">
    <inertial>
      <origin
        xyz="0.129237698497142 -0.00572273688574605 0.111888586613311"
        rpy="0 0 0" />
      <mass
        value="0.17134420758264" />
      <inertia
        ixx="9.32201042100472E-05"
        ixy="1.20120101159129E-07"
        ixz="-4.79777554801424E-05"
        iyy="0.00015433812332318"
        iyz="3.40869890593281E-07"
        izz="9.66568629496689E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mizuki_arm_short/meshes/3rd_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mizuki_arm_short/meshes/3rd_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="elbow_joint"
    type="revolute">
    <origin
      xyz="0 0 0.071063"
      rpy="0 0 1.5708" />
    <parent
      link="2nd_Link" />
    <child
      link="3rd_Link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="forearm_root_Link">
    <inertial>
      <origin
        xyz="-0.103731501655055 -0.0078437541000942 0.222271796715449"
        rpy="0 0 0" />
      <mass
        value="0.0961128055839215" />
      <inertia
        ixx="3.03487640251212E-05"
        ixy="-2.57021413224873E-08"
        ixz="4.31895961727136E-06"
        iyy="2.95052454577111E-05"
        iyz="7.66392616741625E-08"
        izz="1.89188661634729E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mizuki_arm_short/meshes/forearm_root_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mizuki_arm_short/meshes/forearm_root_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="forearm_root_joint"
    type="revolute">
    <origin
      xyz="0.03475 0 0.14175"
      rpy="3.1416 1.1223 3.1416" />
    <parent
      link="3rd_Link" />
    <child
      link="forearm_root_Link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="forearm_tip_link">
    <inertial>
      <origin
        xyz="-0.0515869013927555 -0.164372151390541 -0.125366162766173"
        rpy="0 0 0" />
      <mass
        value="0.129687644289195" />
      <inertia
        ixx="3.10003895485778E-05"
        ixy="-4.82711228636185E-06"
        ixz="3.09461570311233E-06"
        iyy="2.71817249053064E-05"
        iyz="-2.79956975978776E-06"
        izz="3.84415944855356E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mizuki_arm_short/meshes/forearm_tip_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mizuki_arm_short/meshes/forearm_tip_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="forearm_tip_joint"
    type="revolute">
    <origin
      xyz="0 0 0.15213"
      rpy="-1.5708 0 -1.1443" />
    <parent
      link="forearm_root_Link" />
    <child
      link="forearm_tip_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="wrist_link">
    <inertial>
      <origin
        xyz="0.408193791744499 -0.0478872299377909 0.0216971781257388"
        rpy="0 0 0" />
      <mass
        value="0.0588876818541705" />
      <inertia
        ixx="1.16965127378391E-05"
        ixy="-1.19071174404654E-06"
        ixz="-5.76057641834992E-07"
        iyy="1.36744432006673E-05"
        iyz="-1.92319703170851E-06"
        izz="9.97941816116039E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mizuki_arm_short/meshes/wrist_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mizuki_arm_short/meshes/wrist_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="wrist_joint"
    type="revolute">
    <origin
      xyz="0 0.063707 -0.3864"
      rpy="0 -0.69813 -1.5708" />
    <parent
      link="forearm_tip_link" />
    <child
      link="wrist_link" />
    <axis
      xyz="0.2869 -0.89975 0.32885" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="hand_link">
    <inertial>
      <origin
        xyz="0.177261148735247 -0.0536834571107898 -0.075041680800671"
        rpy="0 0 0" />
      <mass
        value="0.291454736279853" />
      <inertia
        ixx="0.000132273717354236"
        ixy="-4.60499182381077E-05"
        ixz="-4.95583522597708E-05"
        iyy="0.000202007618517158"
        iyz="-2.30910339378055E-05"
        izz="0.000158531426124786" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mizuki_arm_short/meshes/hand_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mizuki_arm_short/meshes/hand_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="hand_joint"
    type="fixed">
    <origin
      xyz="0.41446 -0.00020011 0.15664"
      rpy="1.3463 0.78525 -0.95801" />
    <parent
      link="wrist_link" />
    <child
      link="hand_link" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>